<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/vendors/css/bootstrap.css">
    <script src="/vendors/js/jquery.js"></script>
    <script src="/vendors/js/bootstrap.bundle.min.js"></script>
    <script src="/customs/js/index.js"></script>
</head>

<body>
    <%- include("partials/header") %>

        <h1 class="m-4">Products</h1>

        <div id="products-container" class="container-fluid">
            <div class="row">
                <% products.forEach(product => { %>
                    <div class="col-12 col-sm-6 col-md-3 p-2">
                        <div class="product-card">
                            <!-- Image for modal -->
                            <img src="/images/<%= product.image_path %>" 
                                 class="product-image"
                                 alt="<%= product.name %>" 
                                 style="height: 200px; width: 100%; object-fit: cover; cursor: pointer;"
                                 data-bs-toggle="modal"
                                 data-bs-target="#show-image-modal">
                            
                            <!-- Product details link -->
                            <a href="/products/<%= product.id %>" class="text-decoration-none text-dark">
                                <p class="mt-2 mb-1"><%= product.name.toUpperCase() %></p>
                                <p class="text-secondary"><%= product.description %></p>
                                <p class="text-primary">$<%= product.price %></p>
                            </a>
                            
                            <!-- Add to cart form -->
                            <form action="/products/add-to-cart" method="POST" class="add-to-cart-form">
                                <input type="hidden" name="product_id" value="<%= product.id %>">
                                <input type="number" name="quantity" value="1" min="1" class="form-control mb-2">
                                <button type="submit" class="btn btn-outline-dark w-100">Add to Cart</button>
                            </form>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>

        <div id="show-image-modal" class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" style="position: absolute; right: 10px; top: 10px;"></button>
                    <img class="w-100" id="modal-image" src="" alt="">
                </div>
            </div>
        </div>
</body>

</html>